---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');

const pageTitle = "Jan's Blog";
---

<BaseLayout pageTitle={pageTitle}>
        <!-- <h2 class="text-2xl font-bold">{pageTitle}</h2> -->
        <h2 class="text-xl">A non-exhaustive list of writeups for some CTF challenges and vulnerable machines which I have solved:</h2>
        <span class="br"></span>
        <ul class="list-disc">
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
            <li class="text-xl">
                <a href="https://github.com/janlum/OverTheWire/tree/main/Bandit" class="hover:text-blue-500">OverTheWire Bandit (Github)</a>
            </li>
            <li class="text-xl">
                <a href="https://github.com/janlum/OverTheWire/tree/main/Leviathan" class="hover:text-blue-500">OverTheWire Leviathan (Github)</a>
            </li>
            
        </ul>
</BaseLayout>