---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');

const pageTitle = "Jan's Blog";
---

<BaseLayout>
        <!-- <h2 class="text-2xl font-bold">{pageTitle}</h2> -->
        <div class="w-full grid place-items-center mb-[2rem]">
			<div class="max-w-[80ch] flex flex-col items-center md:items-start min-w-min">
                <h1 class="normal-case">{pageTitle}</h1>
                <h2 class="text-xl text-center md:text-left">A non-exhaustive list of writeups for some CTF challenges and vulnerable machines which I have solved:</h2>
                <span class="br"></span>
                <ul class="list-disc mx-3">
                    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
                    <li>
                        <a href="https://github.com/janlum/OverTheWire/tree/main/Bandit" target="_blank" class="text-xl hover:text-blue-500">OverTheWire Bandit (Github)</a>
                    </li>
                    <li>
                        <a href="https://github.com/janlum/OverTheWire/tree/main/Leviathan" target="_blank" class="text-xl hover:text-blue-500">OverTheWire Leviathan (Github)</a>
                    </li>
                    
                </ul>
            </div>
        </div>
</BaseLayout>