--- 
---
<section class="max-w-4xl ml-[-15px] mr-[-15px] py-0 px-[10px] flex justify-between items-center hidden-pc bg-[#0046a4]">
  <a href="/" id="logo">Jan Fok</a>
  <button id="hamburger" class="text-3xl md:hidden focus:outline-none relative w-8 h-8" >
    <!-- <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span> -->
    <!-- &#9776 -->
    <div class="bg-white w-8 h-1 rounded absolute"></div>
  </button>
</section>