---
---
<style>

    img {
        position: relative;
        top: 8px;
        left: 16px;
    }
</style>

<div class="nav-links">
    <!-- <a href="/"><img src="/src/Jan_Fok_logo.png" alt="Jan Fok's logo"/></a> -->
    
    <a href="/" id="home">Home</a>
    <div id="nav_right">
        <a href="/#content">About</a>
        <a href="/blog/">Blog</a>
        <a href="https://www.dropbox.com/s/983btogfngfy4ua/JAN_L_FOK_RESUME.pdf?dl=0">Resume</a>
    </div>
</div>