---
---

<div class="nav-links">
    <a href="/" id="logo">Jan Fok</a>
    <!-- <a href="/" id="home">Home</a> -->
    <div id="nav_right">
        <a href="/#content">About</a>
        <a href="/blog/">Blog</a>
        <a href="https://www.dropbox.com/s/983btogfngfy4ua/JAN_L_FOK_RESUME.pdf?dl=0">Resume</a>
    </div>
</div>
<section id="mobile-menu" class="absolute top-68 bg-[#0046a4] w-full left-0 text-5xl flex-col justify-content-center origin-top animate-open-menu hidden">
    <!-- <button class="text-8xl self-end px-6">
        &times;
    </button> -->
    <nav class="flex flex-col min-h-screen items-center py-8" aria-label="mobile">
        <!-- <a href="/" class="w-full text-center py-6 hover:opacity-90">Home</a> -->
        <a href="/#content" class="w-full text-center py-12 hover:opacity-90 mobile_nav_link">About</a>
        <a href="/blog/" class="w-full text-center py-12 hover:opacity-90 mobile_nav_link">Blog</a>
        <a href="https://www.dropbox.com/s/983btogfngfy4ua/JAN_L_FOK_RESUME.pdf?dl=0" class="w-full text-center py-12 hover:opacity-90 mobile_nav_link">Resume</a>
    </nav>
</section>