---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const {pageTitle} = Astro.props;
---

<html lang="en">
	<head>
		<title>{pageTitle}</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<Header />
		<div class="max-w-[80ch] flex flex-col align-center">
		<h1>{pageTitle}</h1>
        	<slot />
		</div>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
